* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #bb4430;
}
/* navbar */

.navLinks {
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.navLinks a {
  text-decoration: none;
  color: #020202;
  font-weight: 800;
}

.navLinks a:hover {
  text-decoration: underline;
}

/* Homepage */

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 60px;
}

.titleHome {
  color: #231f20;
  font-size: 3rem;
}

.homepage p {
  color: #f3dfa2;
  font-size: 1.3125rem;
}
